header {
    background-color: black;
    color: #ffd700;
}


body {
    background: linear-gradient(to right, white, darkgray);
    color: black;
    font-family: 'Roboto', sans-serif;
}

p {
    background-color: black;
    color: #ffd700;
}


footer {
    background-color: black;
    color: #ffd700;
}