header {
    background-color: black;
    color: #ffd700;
}


body {
    background-color: white;
    color: darkgray;
    font-family: 'Roboto', sans-serif;
}

button {
    color: linear-gradient(#ffd700, #ffb400);
}

footer {
    background-color: black;
    color: #ffd700;
}