/* Color Scheme Variables */
:root {
    --primary-color: #4a90e2;
    --secondary-color: #e94a7a;
    --accent-color: #f5a623;
    --light-bg-color: #ecf0f1;
    --text-color: #333; 
    --text-light-color: #777; 
}

/* Base element styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    background-color: var(--light-bg-color);
    line-height: 1.6;
    padding: 20px;
}


/* Headings */
h1, h2, h3, h4, h5, h6 {
    color: var(--secondary-color);
    margin-bottom: 1rem;
}

/* Header */
header {
    background: var(--primary-color);
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Navigation menu */
nav {
    background: var(--secondary-color);
}

nav ul {
    display: none;
    width: 100%;
    background: var(--secondary-color);
    transition: max-height 0.3s ease-out;

    list-style: none;
}

nav ul.active {
    display: block; /* Show the menu when active */
    width: 100%;
    top: 60px;
    right: 0;
    max-height: 500px;
}

nav ul li {
    padding: 10px;
}

nav a {
    padding: 10px;
    display: block;
    color: var(--primary-color);
    text-decoration: none;
}

nav a:hover {
    background-color: var(--accent-color);
}

/* Footer */
footer {
    background: var(--text-color);
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    color: var(--text-light-color);
    margin: 0;
}

/* Hamburger menu icon */
.hamburger {
    display: block;
    cursor: pointer;
    
  }

/* Styles for the hamburger icon bars */
.hamburger div {
  width: 30px;
  height: 3px;
  background-color: black;
  margin: 6px 0;
  transition: 0.4s;
}

/* Add other styles for buttons, forms, typography, etc., as needed */
