/* Base Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #ffffff;
    color: #333333;
    line-height: 1.6;
}

/* base.css */
.hero img {
    width: 50%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
}


.hero {
    padding: 20px;
    text-align: center; 
}

/* Typography */
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5em;
    color: #444444;
}

p {
    margin-bottom: 1em;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover,
a:focus {
    text-decoration: underline;
}

/* Containers */
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* Header */
header {
    background-color: #333333;
    color: #ffffff;
    padding-top: 20px;
    min-height: 70px;
    border-bottom: #0066cc 3px solid;
}

/* Navigation */
nav {
    background-color: #333333;
    color: #ffffff;
    padding: 0.5em;
}

nav ul {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #ffffff;
    padding: 0.5em;
}

/* Main */
main {
    padding: 20px;
}

/* Footer */
footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

/* Add your media queries for responsiveness */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        display: none;
    }
    
    .nav-toggle {
        display: initial;
    }
}