@media screen and (min-width: 768px) {
    
    main {
        grid-template-columns: repeat(2, 1fr);
    }

    #menuItems.active {
        right: 0;
    }

    .hamburger {
        display: none;
    }

    .close {
        display: block;
        cursor: pointer;
    }

    .heroimage {
        grid-column-start: 1;
        grid-column-end: span 2;
    }

    .heroimage div {
        height: 300px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 20px;
    }

    header h1 {
        margin: 0;
        font-size: 2rem;
    }

    #menuItems {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: auto;
        right: auto;
        top: auto;
        height: auto;
        transition: none;
        overflow-y: visible;
        background-color: transparent;
    }

    body.dark-mode #menuItems {
        background: transparent;
    }

    nav ul {
        display: flex;
        margin: 0;
        padding: 0;
    }

    nav ul li {
        list-style: none;
        margin-left: 20px;
    }

    nav ul li a {
        text-decoration: none;
        padding: 10px 15px;
    }

    .slider {
        position: fixed;
        top: 15px;
        right: 100px;
        display: inline-block;
    }

    body {
        font-size: 1.2rem;
    }

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    .spotlights {
        grid-column-start: 1;
        grid-column-end: span 2;
        display: flex;
        position: relative;
    }

    .spotlights p {
        padding-right: 100px;
    }

    footer {
        display: flex;
        font-size: small;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    footer p {
        padding: 10px;
    }

    /* Discover page CSS */
    .discover main {
        grid-template-columns: 1fr 4fr;
    }
}