@media screen and (min-width: 768px) {
    main {
      grid-template-columns: repeat(2, 1fr);
    }

  
  #menuItems.active {
    right: 0;
  }
  .hamburger {
    position: absolute;
    top: 100%;
    left: 0;
    width: 10%;
    cursor:pointer;
  }
  
  .close {
    display: block;
    cursor: pointer;
  }
  

  .close {
    display: block;
    cursor: pointer;
  }

    /* Make the hero image and text larger and more prominent */
    .heroimage {
      grid-column-start: 1;
      grid-column-end: span 2;
    }

    .heroimage div {
      height: 300px;
    }
    

  
    /* Other medium screen adjustments */
    header {
      padding: 15px 0;
    }
  
    /* Adjust font sizes for readability on medium screens */
    body {
      font-size: 15px;
    }
  
    h1 {
      font-size: 2rem;
    }
  
    h2 {
      font-size: 2rem;
    }

    .spotlights {
      grid-column-start: 1;
      grid-column-end: span 2;
      display: flex;
      position: relative;
    }
  
    .spotlights p {
      padding-right: 100px;
    }

  footer {
      display: flex;
      font-size: small;
      justify-content: center;
      align-items: center;
      position: relative;
  }

  footer p {
      padding: 10px;
  }
  

  /* CSS for Discover page */

  .discover main {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  #sidebarToggle {
    display: none; /* Hide the toggle button on larger screens */
  }

  #sidebar {
    position: fixed; /* Keep sidebar fixed on the right */
    top: 0;
    right: 0; /* Adjust the sidebar to always be visible */
    width: 250px; /* Adjust as needed */
    height: 100%;
    transition: none; /* Remove the transition */
  }

}