/* normalize.css file */

/* Add correct display in IE 10+ */
template {
    display: none;
  }
  
  /* Remove the margin in all browsers */
  body,
  h1, h2, h3, h4, h5, h6,
  p, blockquote, pre,
  a, abbr, address, cite, code,
  del, dfn, em, img, ins, kbd, q, s, samp,
  small, strong, sub, sup, var,
  b, i,
  dl, dt, dd, ol, ul, li,
  fieldset, form, label, legend,
  table, caption, tbody, tfoot, thead, tr, th, td,
  article, aside, canvas, details, embed, 
  figure, figcaption, footer, header, hgroup, 
  menu, nav, output, ruby, section, summary,
  time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
  /* HTML5 display-role reset for older browsers */
  article, aside, details, figcaption, figure, 
  footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  /* HTML5 hidden-attribute fix for newer browsers */
  *[hidden] {
      display: none;
  }
  
  /* Add box sizing and border box to all elements for easier sizing */
  *, *:before, *:after {
    box-sizing: border-box;
  }
  
  /* Set core body defaults */
  body {
    line-height: 1.6;
    font-size: 100%;
    font-family: sans-serif;
  }
  
  /* Make images easier to work with */
  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
  
  /* Inherit fonts for inputs and buttons */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
    
    *, *:before, *:after {
      animation-duration: 0.01ms !important;
      animation-iteration-count: 1 !important;
      transition-duration: 0.01ms !important;
      scroll-behavior: auto !important;
    }
  }
  