/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



/* Base styles */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Utility classes for alignment */
.center {
    text-align: center;
}

/* Header styles */
header {
    background-color: #00457C; /* Adjust color to your preference */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profile Picture styles */
#profilePicture {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

/* Navigation styles */
nav ul {
    list-style-type: none; /* Removes bullets */
    padding: 0;
    background-color: #000; /* Adjust color to your preference */
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline; /* Inline list items for horizontal layout */
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

/* Main content styles */
main {
    max-width: 800px; /* Limited width */
    margin: 20px auto; /* Centering */
    padding: 20px;
    background-color: #fff; /* Adjust color to your preference */
}

/* Card styles for sections */
.card {
    background-color: #e6e6e6; /* Light grey background, adjust color as needed */
    border: 1px solid #000; /* Black border */
    border-radius: 10px; /* Rounded corners */
    padding: 20px; /* Spacing inside the card */
    max-width: 600px; /* Max width of the card, adjust as needed */
    margin: 20px auto; /* Center the card */
}

.card h3 {
    background-color: #0057b7; /* Blue background for the title, adjust color as needed */
    color: #fff; /* White text color */
    padding: 10px; /* Spacing inside the title area */
    border-radius: 8px 8px 0 0; /* Rounded corners on the top */
    margin: -20px -20px 20px -20px; /* Aligns the title background with the card edges */
}

.card ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.card li {
    padding: 5px 0; /* Spacing between list items */
    border-bottom: 1px solid #ccc; /* Light grey border between items */
}

.card li:last-child {
    border-bottom: none; /* Remove border from the last item */
}

.card a {
    text-decoration: none; /* Remove underline from links */
    color: #000; /* Set link color, adjust as needed */
}

/* Footer styles */
footer p {
    background-color: #333; /* Adjust color to your preference */
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}

.facebook-link img {
    height: 10px;
    width: 24px;
}