/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');



/* Base styles */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Utility classes for alignment */
.center {
    text-align: center;
}

/* Header styles */
header {
    background-color: #00457C;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Profile Picture styles */
#profilePicture {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

header h1 {
    margin: 0;
    padding: 0;
    font-weight: 700;
}

/* Navigation styles */
nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

/* Main content styles */
main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
}

/* Card styles for sections */
.card {
    background-color: #e6e6e6;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
}

.card h3 {
    background-color: #0057b7;
    color: #fff;
    padding: 10px;
    border-radius: 8px 8px 0 0;
    margin: -20px -20px 20px -20px;
}

.card ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.card li {
    padding: 5px 0; /* Spacing between list items */
    border-bottom: 1px solid #ccc; /* Light grey border between items */
}

.card li:last-child {
    border-bottom: none;
}

.card a {
    text-decoration: none;
    color: #000;
}

/* Footer styles */
footer p {
    background-color: #333; 
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin: 0;
}